// bower:scss
// endbower

@import "variables";
@import "mixin";
@import "queries";

a {
    outline: none;
}

*:focus {
    outline: none;
}

.game-scene {
    font-family: 'Press Start 2P', cursive;

    .tile-wrapper {
        position: relative;

        .end-game {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: $color-primary;
            z-index: 9;
            padding: 30px 50px;
            box-shadow: 0 0 15px #455A64;
            cursor: pointer;
            color: #FFF;

            @include user-select(none);

            @include transform(translate(-50%, -50%));
        }
    }

    .card-wrapper {
        @include desktop {
            max-width: 500px;
        }


        @include tablet {
            max-width: 500px;
        }


        @include max-width($desktop) {
            max-width: 500px;
        }


        @include display-flex;

        @include flex-wrap(wrap);

        @include justify-content(space-between);

        @include align-items(center);

        margin: 0 auto;

        .card-info {
            @include flex-shrink(0);

            /* @include display-flex; */

            @include justify-content(center);

            @include align-items(center);

            flex-basis: 25%;
            flex-grow: 1;

            /* padding: 10px; */
        }

        @include phab-tablet {
            max-width: 400px;

            .card-info {
                @include flex(1 0 25%);

                flex-basis: 25%;
            }
        }


        @include mobile {
            .card-info {
                @include flex(1 0 50%);

                flex-basis: 50%;
            }
        }
    }

    .flip-card {
        @include perspective(600px);

        @include user-select(none);

        font-family: 'Open Sans Condensed', sans-serif;
        margin: 5px;

        /* width: $card-width;
        height: $card-height; */

        .flipper {
            @include transform(rotateY(0deg));

            @include transition(all 0.3s linear);

            @include transform-style(preserve-3d);

            border-radius: 5px;

            /* border: 5px solid;
            border-color: $card-border; */
            position: relative;
            width: 100%;
            height: 100%;

            /* box-shadow: $card-shadow; */
        }

        &.flip {
            .flipper {
                @include transform(rotateY(180deg));
            }
        }

        .face {
            @include display-flex;

            @include justify-content(center);

            @include align-items(center);

            height: 100%;
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 5em;
            position: absolute;

            @include backface-visibility(hidden);
        }

        .front {
            top: 0;
            left: 0;
            z-index: 2;
            background-color: #DDD;
            text-align: center;

            @include transform(rotateY(180deg));
        }

        .back {
            top: 0;
            left: 0;
            background-color: $color-primary;

            @include transform(rotateY(0deg));
        }
    }
}

.card-info {
    position: relative;
    width: 25%;

    /* desired width */
    &:before {
        content: "";
        display: block;
        padding-top: 120%;

        /* initial ratio of 1:1*/
    }

    .flip-card {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    /* Other ratios */
    &.ratio2_1:before {
        padding-top: 50%;
    }

    &.ratio1_2:before {
        padding-top: 200%;
    }

    &.ratio4_3:before {
        padding-top: 75%;
    }

    &.ratio16_9:before {
        padding-top: 56.25%;
    }
}