<div ng-controller="GameCtrl as game">
    <form class="form-inline" ng-submit="main.generate()">
        <div class="form-group">
            <label class="sr-only">Width</label>
            <input ng-model="main.width" type="text" class="form-control" placeholder="Width">
        </div>
        <div class="form-group">
            <label class="sr-only">Height</label>
            <input type="text" ng-model="main.height" class="form-control" placeholder="Height">
        </div>
        <button type="button" ng-click="main.generate()" class="btn btn-default">Generate</button>
    </form>

    <div ng-repeat="card in game.deck.rows">
        <div class="card-info">
            <div class="flip-card" ng-class="{'flip' : card.isFaceUp}" ng-click="game.isGuarding || game.check(card)">
                <div class="flipper">
                    <div class="front">
                        <p> {{card.item}} </p>
                    </div>
                    <div class="back">
                        <!-- back content -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>    
    <button type="button" class="btn btn-default btn-lg" ng-disabled="game.inGame == true" ng-click="game.start()">Start</button>
</div>
